<!-- <p>{{quote.description}}</p> -->
<!-- <button (click) = 'quoteComplete(true)'> Complete </button> -->
<p>{{quote.description}}</p>
<p> Completed by {{quote.completeDate|date}} </p>
<div class="row">
    <div class="col-md-6">
      <a class= "btn-btn-success" href=""(click)='voteUp'>Likes ({{upVote}})</a>
    </div>
    <div class="col-md-6">
      <a class="btn-btn-success" href=""(click)='voteDown'>Dislikes ({{downVote}})</a>
    </div>
</div>
<button class="btn btn-danger" (click) = 'quoteDelete(true)'> Delete Quote </button>
